cffi==1.14.5
charset-normalizer==2.0.4
click==7.1.2
dnspython==2.1.0
dominate==2.6.0
Flask==2.0.2
Flask-Bootstrap==3.3.7.1
Flask-FontAwesome==0.1.5
Flask-HTTPAuth==4.4.0
Flask-Login==0.5.0
flask-nav==0.6
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
greenlet==1.0.0
idna==3.1
itsdangerous==2.0.1
Jinja2==3.0.3
keyboard==0.13.5
MarkupSafe==2.0.1
